
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}

.contact--title {
    max-width: 445px;
    width: 100%;
    height: 174px;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    /* or 137% */
}

.contact--text {
    max-width: 445px;
    width: 100%;
    height: 56px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    mix-blend-mode: normal;
    opacity: 0.8;
}