$main-font: 'Mulish', sans-serif; 

$main-txt-color: #111111;

$secondary-txt-color: #4A4FF2;

// font-family: 'Mulish', sans-serif;

// color: #111111; /*black*/
// color: #4A4FF2; /*blue*/

// background: #F2F2F2;