
.nav {
    &__li {
        font-family: $main-font;
        color: $main-txt-color;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -35px;
    }
}