
.projects--main--img {
    max-width: 1110px;
    width: 100%;
    height: 660px;
    margin-bottom: 50px;
}

.img--text {
    max-width: 1110px;
    width: 100%;
    height: 93px;
}

.projects--img {
    width: 350px;
    height: 400px;
}

.container__img--projects {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}