
@use 'fonts';

@import 'header';
@import 'footer';
@import 'form';
@import 'contact-info';

body {
    max-width: 1360px;
    width: 100%;
    font-family: fonts.$main-font;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #F2F2F2;
}

.map {
    max-width: 1110px;
    width: 100%;
    height: 570px;
    margin-bottom: 110px;
}