@use 'fonts';

@import 'projectgrid';
@import 'main';
@import 'header';
@import 'sections';
@import 'awards';

body {
    max-width: 1360px;
    width: 100%;
    font-family: fonts.$main-font;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
